<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accueil - Anguis</title>
    <link rel="stylesheet" href="CSS/bootstrap.min.css"/>
</head>

<body>
    <div class="jumbotron text-center mb-4" style="margin-bottom:0">
        <h1>Anguis</h1>
    </div>
    <div class="container">
        <h2>Bel-Ami</h2>
        <p>Guy de Maupassant</p>
    </div>

</body>
</html>