<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anguis</title>
    <link rel="stylesheet" href="CSS/index.css"/>
</head>

<body>
    <form action="/accueil" method="POST">
      <div>
        <h1>Connectez-vous</h1>
      </div>
      <div>
          <label for="username">Identifiants </label>
          <input type="text" id="name" name="user_name">
        </div>
        <div>
          <label for="password">Mot de passe </label>
          <input type="text" id="password" name="user_password"></textarea>
        </div>
        <div class="button">
          <button type="submit">Connexion</button>
        </div>
      </form>
</body>


</html>