<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='livre.css'>
    <title>Anguis</title>
</head>
<p>

</p>

<body>
    <div class="header-livre">
        <div class="grid">
            <div class="livre">
                <a href="accueil.ejs">
                    <div class="anguis-logo">
                    </div>
                </a>
            </div>
            <div class="nav" id="mynav">
                <ul class="nav-ul-livre">
                    <div class="dropdown">
                        <li class="nav-li">
                            <div class="dropdown">
                        <li class="nav-li"> <a href="javascript:void(0);" class="dropbtn">La STU <i
                                    class="fa fa-caret-down"></i></a>
                        </li>
                        <div class="dropdown-content">
                            <a href="accueil.ejs">accueil</a>
                            <a href="index.ejs">index</a>
                            <a href="lecture.ejs">lecture</a>
                        </div>
                    </div>
                    <div id="content" class="page-content">
                        <main id="main" role="main">
                            <div class="grid">
                                <section class="page-single" style="padding:0;">...</section>
                                <article id="page" class="post page">...</article>
                                <div class="entry-content">
                                </div>
</body>

</html>